<section>
  <div class="tech-title">
    <h2>{{ language.title }}</h2>
    <p>{{ language.description }}</p>
  </div>
  <div class="skills-container">
    <div class="slider-track">
      <div class="slide">
        <img src="../../../../assets/skills/html-5.svg" alt="icon html">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/css-3.svg" alt="icon css">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/javascript.svg" alt="icon javascript">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/typescript.svg" alt="icon typescript">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/react.svg" alt="icon react">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/angular.svg" alt="icon angular">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/sass.svg" alt="icon sass">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/sql.svg" alt="icon sql">
      </div>

      <div class="slide">
        <img src="../../../../assets/skills/html-5.svg" alt="icon html">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/css-3.svg" alt="icon css">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/javascript.svg" alt="icon javascript">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/typescript.svg" alt="icon typescript">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/react.svg" alt="icon react">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/angular.svg" alt="icon angular">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/sass.svg" alt="icon sass">
      </div>
      <div class="slide">
        <img src="../../../../assets/skills/sql.svg" alt="icon sql">
      </div>

    </div>
  </div>
</section>
