section {
  width: 100%;
}

.tech-title {
  width: 100%;
  margin-top: 40px;
}

.tech-title h2 {
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
}

.tech-title p {
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.skills-container {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  background-color: #1c1e21;
  border-radius: 25px;
  overflow: hidden;
}

.slider-track {
  padding: 18px 0;
  display: flex;
  animation: infinite-scroll 15s linear infinite;
  width: calc(120px * 14);
  gap: 50px;
}

.slide {
  width: 100px;
}

.slide img {
  width: 100%;
  filter: grayscale(1);
}

.slide img:hover {
  filter: grayscale(0);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(calc(-120px * 7));
  }
}

@media (min-width: 1000px) {
  section {
    width: 100%;
  }

  .tech-title {
    width: 100%;
    margin-top: 40px;
  }

  .tech-title h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
  }

  .tech-title p {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .skills-container {
    width: 100%;
    height: 120px;
    margin: auto;
    background-color: #1c1e21;
    border-radius: 25px;
    overflow: hidden;
  }

  .slider-track {
    padding: 27px 0;
    display: flex;
    animation: infinite-scroll 15s linear infinite;
    width: calc(120px * 14);
    gap: 50px;
  }

  .slide {
    width: 80px;
  }

  .slide img {
    width: 100%;
    filter: grayscale(1);
  }

  .slide img:hover {
    filter: grayscale(0);
  }

}
