<footer>
  <div class="info-container">
    <p>&#64; 2024 Tommy Oliver</p>
  </div>
  <div class="links-container">
    <div class="link-github">
      <a href="https://www.linkedin.com/in/tommyyoliver/" target="_blank">
        <img src="../../../../assets/github.svg" alt="icon link github">
      </a>
    </div>
    <div class="link-linkedin">
      <a href="https://github.com/Tommyyoliver" target="_blank">
        <img src="../../../../assets/linkedin.svg" alt="icon link linkedin">
      </a>
    </div>
  </div>
</footer>
