@use '../../home/styles/variables.scss';


::-webkit-scrollbar {
    width: 6px;
    background-color: variables.$black;
}
::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 5px;
}

.body {
    display: flex;
    justify-content: center;
    background-color: variables.$white;
    color: #ffffff;
    transition: .3s;
}

.dark {
    background-color: variables.$black;
    transition: .3s;
}

.project-portal {
    position: fixed;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color: #1d1d1d;
    z-index: 500;
    border-radius: variables.$border;

    > .project-portal-close {
        position: absolute;
        right: 15px;
        top: 15px;
        > img {
            width: 20px;
            height: 20px;
            filter: invert(1);
            cursor: pointer;
        }
    }

    > .project-portal-header {
        width: 90%;
        margin: 20px auto;
        
        > h3 {
            font-size: 2rem;
        }
        > p {
            margin-top: 20px;
            font-size: 1.3rem;
        }

        > .project-portal-header-tag {
            display: flex;
            margin-top: 30px;

            > p {
                font-size: .9rem;
                font-weight: 700;
                background-color: #525252;
                width: min-content;
                padding: 7px 10px;
                margin-right: 5px;
                border-radius: 15px;
            }        
        }
    }
    .project-portal-link {
        width: 90%;
        margin: 40px auto 0 auto;

        > div {
            margin-bottom: 15px;
            > p {
                font-size: 1rem;
                font-weight: 600;
            }
            > a {
                font-size: .9rem;
                text-decoration: underline;
            }
        }
    }
}

.noise-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.060;
    background-image: url(../../../assets/rpdc.gif);
}


.projectpage-contain {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: 200;
    margin: 20px;
}

.projectpage-header {
    width: 100%;
    max-width: 400px;
    height: 100px;
    margin: 0 auto 50px auto;
    background-color: variables.$background;
    border-radius: variables.$border;
    z-index: 200;
    
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        > .projectpage-header-img {
            width: 25px;
            height: 25px;
            margin: 0 30px 10px 0px;
    
            > img {
                filter: invert(1);
                transform: rotate(180deg);
                width: 35px;
                height: 35px;
            }
        }
        > .projectpage-header-title {
            font-size: 2.4rem;
            font-weight: 600;

        }
    }
}

.projectpage-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    width: 90%;
    margin: 0 auto;


    > .projectpage-section-1, .projectpage-section-2, .projectpage-section-3, .projectpage-section-5, .projectpage-section-6 {
        box-shadow: 0px 0px 5px 0px #ffffff;
        border-radius: variables.$border;
        background-color: #010101dd;
        > .projectpage-text {
            width: 300px;
            height: 300px;

            > .projectpage-text-title {
                font-size: 2rem;
                font-weight: 700;
                width: 90%;
                padding: 20px 0 0 10px;
                margin: 0 auto;
            }
            > .projectpage-text-description {
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: 2px;
                width: 90%;
                margin: 0 auto;
                padding: 15px 0 0 10px;
            }
            > .projectpage-tag {
                width: 90%;
                margin: 0 auto;
                margin-top: 50px;
                display: flex;
                > p {
                    font-size: .9rem;
                    font-weight: 700;
                    background-color: #525252;
                    width: min-content;
                    padding: 7px 10px;
                    margin-right: 5px;
                    border-radius: 15px;
                }
            }
        }
    }
    > .projectpage-section-5 {
        > .projectpage-section-5-img {
            position: absolute;
            opacity: .1;
            > img {
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
        }
    }
    > .projectpage-section-1 {
        > .projectpage-section-1-img {
            position: absolute;
            opacity: .1;
            > img {
                width: 300px;
                height: 300px;
            }
        }
        
    }
    > .projectpage-section-2 {
        > .projectpage-section-2-img {
            position: absolute;
            opacity: .1;
            > img {
                width: 300px;
                height: 300px;
            }
        }
    }
    > .projectpage-section-3 {
        > .projectpage-section-3-img {
            position: absolute;
            opacity: .1;
            > img {
                width: 300px;
                height: 300px;
            }
        }
    }
    > .projectpage-section-6 {
        > .projectpage-section-6-img {
            position: absolute;
            opacity: .1;
            > img {
                width: 300px;
                height: 300px;
                border-radius: 15px;
            }
        }
    }
}


@media (min-width: 768px) {

    .project-portal {
        top: 100px;
        width: 400px;
        height: 500px;
    
        > .project-portal-close {
            > img {
                width: 30px;
                height: 30px;
            }
        }
    
        > .project-portal-header {
            margin: 42px auto;
            
            > h3 {
                font-size: 2.3rem;
            }
            > p {
                font-size: 1.5rem;
            }
    
            > .project-portal-header-tag {
                margin-top: 35px;
    
                > p {
                    font-size: 1rem;
                    padding: 8px 11px;
                    margin-right: 10px;
                }        
            }
        }
        .project-portal-link {
            margin: 80px auto 0 auto;
    
            > div {
                margin-bottom: 20px;
                > p {
                    font-size: 1.2rem;
                }
                > a {
                    font-size: 1rem;
                }
            }
        }
    }

    .projectpage-contain {
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        z-index: 200;
        margin: 50px;
    }
    
    .projectpage-header {
        max-width: 625px;
        height: 120px;
        
        > div {
            justify-content: start;
            > .projectpage-header-img {
                margin: 0 60px 20px 30px;
        
                > img {
                    width: 45px;
                    height: 45px;
                }
            }
            > .projectpage-header-title {
                font-size: 2.8rem;
            }
        }
    }
    
    .projectpage-section {
        display: flex;
        flex-wrap: wrap;
    
    
        > .projectpage-section-1, .projectpage-section-2, .projectpage-section-3, .projectpage-section-5, .projectpage-section-6 {
            cursor: pointer;
            transition: .3s;
            > .projectpage-text {

    
                > .projectpage-text-title {
                    font-size: 2.1rem;
                }
                > .projectpage-text-description {
                    font-size: 1.4rem;
                }
                > .projectpage-tag {

                    > p {
                        font-size: 1rem;
                        padding: 8px 11px;
                    }
                }
            }
        }
        > .projectpage-section-1:hover, .projectpage-section-2:hover, .projectpage-section-3:hover, .projectpage-section-5:hover, .projectpage-section-6:hover {
            transform: scale(1.05);
        }
    }
}

@media (min-width: 1024px) {
    .projectpage-contain {
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        z-index: 200;
        margin: 30px;
    }
    
    .projectpage-header {
        max-width: 1100px;
        height: 120px;
    }
}

